{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>Pantalla Principal</title>
{% endblock titulo %}
    
{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">    
<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

{% endblock fonts %}    

{% block fondo %}
<body class="fondoPP">
{% endblock fondo %} 


     
{% block cuerpo %}
<div class="container">
    <br>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p style="text-align: center;"><img src="{% static 'extension/img/Perfiles/Sebusca.png' %}" alt="no foto" style="width:300px;height:150px;"></p>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h5 style="border-radius: 10px;
          background: #ffffffc9;
          padding: auto;
          width: auto;
          height: auto; color: rgb(0, 0, 0); " class="centrar">Se busca profe es una de las mejores páginas de enseñanza online.
                    Descubre nuestro amplio conocimientos en diversas asignaturas e profores que te enseñaran de la comodidad de tus casa.
                    ¿Qué esperas para explorar?</h5>
            </div>
        </div><br><br>
        <div class="row">
        <div class="col-md-6 col-sm-12">
            <a href="{% url 'Login' %}" ><p style="text-align: center;"><img src="{% static 'extension/img/Perfiles/Login.png' %}" alt="no foto" style="width:150px;height:150px;"></p>
                <input type="submit" value="Ir a login" class="btn btn letraLo" style="text-align: center; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97);"></a>
        </div>
        <div class="col-md-6 col-sm-12">
            <a href="{% url 'Registrarse' %}" ><p style="text-align: center;"><img src="{% static 'extension/img/Perfiles/Registro.jpg' %}" alt="no foto" style="width:150px;height:150px;"></p>
                <input type="submit" value="Ir a Registro" class="btn btn letraLo" style="text-align: center; color: rgb(255, 255, 255); background-color: rgb(97, 97, 97);"></a>
        </div>
        </div>
            
        <br><br><br><br>    
        <p style="text-align: center;background-color: #ffffff;;"><a href="{% url 'WebServices' %}">🢂🢂🢂¿Quieres saber el
                porque los días son festivos?🢀🢀🢀</a></p><br><br><br>




</div>
{% endblock cuerpo %}

    


    
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
crossorigin="anonymous"></script>
{% endblock script %}