{% extends 'extension/plantillaMenu.html' %}
{% load static %}


{% block titulo %}
<title>perfil profesor</title>
{% endblock titulo %}
    
{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
{% endblock fonts %}    

{% block fondo %}
<body class="fondoPP">
{% endblock fondo %} 
 
{% block cuerpo %}
<div class="container" class="fondo">

  <div class="row" >
      <div class="col-md-12 col-sm-12">
          <h1 class="titulodestacado" >Bienvenido a tu perfil podrás apreciar todos tus datos pasando el mouse sobre tu foto.</h1>
        </div>
  </div> 


  <div class="row">
    <div class="col-md-3 col-sm-12"></div>
    <div class="col-md-6 col-sm-12">
      <div style="background-color: antiquewhite;">
        <img class="imagenperfil" src="{{usuario.fotoU.url}}" alt="No foto">
        <div>
          {{usuario.nombreU}}
        </div>
        <div>
          {{usuario.correo}}
        </div>
        <div>
          {{usuario.fechaU}}
        </div>
        <div>
          {{usuario.nivel_id_nivel.nombreN}}
        </div>
       
        <a class="" href="{% url 'Modificar'%}"><img
          style="box-shadow: 0px 0px 0px #fdfdfd;width: 25px;height: 20px;padding: 0;"
          src=""></a>
      </div>

     
    </div>
    <div class="col-md-3 col-sm-12"></div>
  </div>
     
          
  







</div>
{% endblock cuerpo %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" 
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" 
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
    crossorigin="anonymous"></script>
{% endblock script %}     
    